alembic
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Mail
Flask-Markdown
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
psycopg2-binary
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
packaging
pillow
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
